@import '@/styles/breakpoints';

.discountProducts {
  display: flex;
  overflow: scroll;
  gap: 24px;
  //margin-bottom: 24px;
  padding: 20px 10px;

  @include breakpoint('md') {
    gap: 14px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
